body{
  background-color: powderblue;
}
hr{
  border-style:none ;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;
}
img{
  height: 200px;
}
h1{
  background-color: #8ab6d6;
  text-shadow: 7px 3px 3px #b0efeb;
  color: #0061a8;
}
h3{
  color: #0061a8;
  text-decoration: underline;
}
.edu{
  color: #ff5200;
}
.links:hover{
  background-color: #ffcb91;
  
}
